HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## env
src/main/resources/application.properties
.env

## mvn w
.mvn/wrapper

ors-docker/**

#data
python_research/no-use
python_research/models/data_fetch.py
python_research/data/city_hour.csv
python_research/models/.cache.sqlite
pycache/
__pycache__/
python_research/models/data_aqi_final.py
python_research/models/durgapur_30day_aqi.csv
python_research/models/error_distribution.png
python_research/models/scaler_y.pkl
python_research/models/best_aqi_model.keras

#frontend
frontend/node_modules
frontend/README.md